.upload_retail_btn {
  cursor: pointer;
  color: var(--color-orange);
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.sd_cards_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(201px, 1fr));
  grid-gap: 30px;
  margin: 1rem auto;
}

.view_more_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2rem auto;
  cursor: pointer;

  font-size: 1rem;
  color: var(--color-orange);
  font-weight: 600;
}

/* store detail model start */

.sd_model_wrapp {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 30px;
  background: var(--color-white);
  position: relative;
  width: 100%;
  min-width: 830px;
  max-width: 830px;

  gap: 20px;
  flex-wrap: wrap;
}

.sd_model_edit_wrap {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* .sd_model_edit_wrap > button:nth-child(1) {
     display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;

   font-size: 1rem;
   font-weight: 600;
   color:var(--color-orange);
    cursor: pointer;
} */
/* .sd_model_edit_wrap>button:nth-child(3) {
  cursor: pointer;
  width: 14px;
  height: 14px;
  margin-left: 10px;
  margin-left: 0px;
  width: 75px;
  margin-right: 10px;
} */

.sd_model_edit_wrap>button:nth-child(3)>img {
  object-fit: contain;
  /* width: 18px;
  height: 18px; */
}

.sd_modal_close-btn {
  cursor: pointer;
  width: 14px;
  height: 14px;
  margin-left: 10px;
  margin-left: 0px;
  width: 75px;
  /* margin-right: 10px; */
}

/* model inner section - 1 */

.sd_model_sec1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

.sd_model_sec1_img_wrapp {
  width: 170px;
  height: 112px;
  padding: 12px;
  border: 1px solid var(--color-black);
}

.sd_model_sec1_img_wrapp>img {
  width: 100%;
  height: 100%;
}

.sd_model_sec1_name_part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sd_model_sec1_name_part>p {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-black);
}

.sd_model_sec1_name_part>p>span {
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-black);
  margin-left: 5px;
}

.sd_model_sec2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 12px;
}

.sd_model_sec2_sigle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 6px;
}

.sd_model_sec2_sigle>p {
  font-size: 16px;
  font-weight: 300;
}

.sd_model_sec3>p {
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  width: 500px;
  overflow-wrap: break-word;
}

.sd_modal_edit_btn_wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  font-size: 1rem;
  font-weight: 600;
  color: var(--color-orange);
  cursor: pointer;
}

.sd_modal_edit_btn_wrapp>img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

@media (max-width: 920px) {
  .sd_model_wrapp {
    max-width: 90vw;
    min-width: 90vw;

    padding-top: 40px;
  }
}

@media (max-width: 600px) {
  .sd_model_sec3>p {
    width: 275px;
  }
}