.retailer-nav-white-main {
    width: 100%;
    height: 50px;
    color: #ddd;
}

.retailer-nav-white-con {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 15px;
    gap: 5px;
}

@media screen and (max-width:1140px) {
    .cus-nav-black-con {
        padding-left: 15px;
    }
}