.cart-icon-img {
    width: 32px;
    height: 30px;
}

.nav-links-mall {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.cart-digit-main {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    /* background-color: #eee; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -3px;
    right: -15px;
    font-size: 14px;
}

@media (max-width: 900px) {

    .cus-nav-logo-after {
        justify-content: space-between;
    }

    .sidebar_logoo {
        display: block;
        padding-right: 20px;
    }

    /* .cus-nav-links {
        display: none;
    }

    .nav_links {
        display: none;

    } */

    .nav-links-mall {
        display: none;
    }

    .nav_sidebar_wrapp {
        width: 100%;
        background: var(--color-white);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* padding: 10px 0px; */
    }

    .nav_sidebar_wrapp>a {
        padding: 1rem;
        border-bottom: 1px solid #C1C1C1;
        width: 100%;
        font-size: 18px;
        font-weight: 300;
        text-align: right;
        color: var(--color-black);
        cursor: pointer;
        /* background: var(--color-orange); */
    }

    .nav_sidebar_wrapp>a:hover {
        font-weight: bold;
        color: var(--color-white);
        background: var(--color-orange);
    }
}