.profile-setting_img_upload_wrapp {
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.profile-account-setting-btnn-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cust-profile-acc-setting-last-part-flex {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cus-profile-acc-setting-form-flex {
    display: flex;
    flex-direction: column;
}

.mm_form_wrapp-customer-acc-setting {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.mm_form_input_wrapp-customer-acc-setting {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}

.mall_upload_btn_wrapp-customer-acc-setting {
    gap: 25px;
}

@media screen and (max-width:950px) {
    .mm_form_wrapp-customer-acc-setting {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .mm_form_input_wrapp-customer-acc-setting {
        width: 100%;

    }
}